body {
    font-family: 'Apercu', sans-serif;
}


h1 {
    font-weight: 550;
	text-align: left; 
	font-size: 60px;
	padding:0 2% 0 0;
    float: left;
}

h3 {
	text-align: center;
	font-size: 20px;
    font-weight: 400;
}

p {
	font-size: 20px;
}

hr {
	width: 70%;
	border-color: #C0C0C0;
}

#subheader {
    text-align: left;
    font-size: 30px;
    padding-top: 4%;
}

#fullpage{
    padding: 0 10% 0 10%;
}


.sectionabout{
    margin: 10% 0 10% 0;
}

.fab{
	font-size: 20px;
}

.sectionabout {
    margin: 40px 10px 0 10px;
}


.otherpages {
	text-align: center;
}

.about {
	font-size: 40px;
	margin-top: 8px;
	text-align: center;
	
}

#aboutpar {
    text-align: left;
    padding-top: 2%;
}

#aboutheader{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
    text-align: left;
}

#underabout {
	margin-top: 2px;
	width: 135px;
	border-color: black;
}

#projectsheader {
    text-align: left;
}

#underprojects{
    width: 135px;
}
