body {
    font-family: 'apercuregular';
}

a {
    text-decoration: none !important;
}

.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 120px;
	line-height: 1;
	color: #606060;
	display: inline-block;
    font-family: 'apercubold';
}

/* START of Animation for Header */

.link--header {
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	line-height: 0.9;
	color: #606060;
}

.link--header:hover {
	color: #606060;
}

.link--header::after {
	content: '';
	position: absolute;gi
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #F9F9F9;
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--header:hover::after {
	transform: translate3d(100%,0,0);
}

.link--header::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color:#0080FF;
	white-space: normal;
	width: 0%;
	transition: width 0.2s 0.1s;
}

.link--header:hover::before {
	width: 100%;
}
/* END of Animation for Header */

/* START of Animation for About */


.link--about {
	text-transform: uppercase;
    float: left;
	font-weight: 900;
	overflow: hidden;
	line-height: 0.75;
	color: #606060;
    font-size: 75px;
    float: left;
    padding-top: 2%;
}

.link--about:hover {
	color: #606060;
}

.link--about::after {
	content: '';
	position: absolute;gi
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #F9F9F9;
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--about:hover::after {
	transform: translate3d(100%,0,0);
}

.link--about::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #20B2AA;
	white-space: nowrap;
	width: 0%;
	transition: width 0.2s 0.1s;
}

.link--about:hover::before {
	width: 100%;
}

/* END of Animation for About */

/* START of Animation for Projects */

h3 {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 73px;
    line-height: 1;
    color: #b2b0a9;
    display: inline-block;
}

h3, h3:after, h3:before {
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    line-height: 0.75;
    color: #b2b0a9;
    font-size: 73px;
}

h3:after {
    content: "UNDER CONSTRUCTION";
    opacity: 0;
    color: black;
    font-size: 73px;
    padding-top: 50px;
}

h3:before {
    content: "PROJECTS";
    opacity: 1;
}

h3:after, div:before {
    transition: opacity 0.3s linear;
}

.wrap:hover:before {
    opacity: 0.2;
}
.wrap:hover:after {
    opacity: 1;
    padding-top: 50px;
}

@media screen and (max-width: 300px) {
    h3 {
        outline: none;
        text-decoration: none;
        position: relative;
        font-size: 73px;
        line-height: 1;
        color: #b2b0a9;
        display: inline-block;
    }

    h3, h3:after, h3:before {
        text-transform: uppercase;
        font-weight: 900;
        overflow: hidden;
        line-height: 0.75;
        color: #b2b0a9;
        font-size: 73px;
    }

    h3:after {
        content: "UNDER CONSTRUCTION";
        opacity: 0;
        color: black;
        font-size: 73px;
        padding-top: 20%;
    }

    h3:before {
        content: "PROJECTS";
        opacity: 1;
    }

    h3:after, div:before {
        transition: opacity 0.3s linear;
    }

    .wrap:hover:before {
        opacity: 0.2;
    }
    .wrap:hover:after {
        opacity: 1;
    }
}


/* END of Animation for Projects */


/* START of Animation for CONTACT */

.link--contact {
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	line-height: 0.75;
	color: #606060;
    font-size: 75px;
    float: left;
}

.link--contact:hover {
	color: #606060;
}

.link--contact::after {
	content: '';
	position: absolute;gi
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #F9F9F9;
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--contact:hover::after {
	transform: translate3d(100%,0,0);
}

.link--contact::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #FF9933;
	white-space: nowrap;
	width: 0%;
	transition: width 0.2s 0.1s;
}

.link--contact:hover::before {
	width: 100%;
}

/* END of Animation for Contact */


p {
    font-size: 20px;;
    margin-left: 2%;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.icons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    
}

.fab {
    padding: 0 5px;
    color: 	#484848;
} 


#subheader {
    text-align: left;
    font-size: 30px;
    padding-top: 4%;
}

#fullpage{
    padding: 0 12% 10% 5%;
    background-color: transparent;
}

#aboutpar {
    padding: 15vh 8px 0 30px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

#me{
    float:right;
    border-radius: 10%;
}

.fab{
	font-size: 20px;
}


.otherpages {
	text-align: center;
}

.about {
	font-size: 40px;
	margin-top: 8px;
	text-align: left;
}

#profile{
    padding-top: 18vh;
}

.aboutmediv {
    padding-left: 15%;

}

#aboutheader{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
    text-align: left;
}

#underabout {
	margin-top: 2px;
	width: 135px;
	border-color: black;
}

#projectsheader {
    text-align: center;
}

#underprojects{
    width: 135px;
}


/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 19, 2018 */
@font-face {
    font-family: 'apercumedium_italic';
    src: url('apercu_medium_italic-webfont.woff2') format('woff2'),
         url('apercu_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'apercubold_italic';
    src: url('apercu_bold_italic-webfont.woff2') format('woff2'),
         url('apercu_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apercumedium';
    src: url('apercu_medium-webfont.woff2') format('woff2'),
         url('apercu_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apercuitalic';
    src: url('apercu_italic-webfont.woff2') format('woff2'),
         url('apercu_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aperculight';
    src: url('apercu_light-webfont.woff2') format('woff2'),
         url('apercu_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apercuregular';
    src: url('apercu_regular-webfont.woff2') format('woff2'),
         url('apercu_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aperculight_italic';
    src: url('apercu_light_italic-webfont.woff2') format('woff2'),
         url('apercu_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apercubold';
    src: url('apercu_bold-webfont.woff2') format('woff2'),
         url('apercu_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'apercu_monoregular';
    src: url('apercu_mono-webfont.woff2') format('woff2'),
         url('apercu_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
